{% extends "dashboard/__base__.html" %}
{% block navbar %}
<ul class="nav navbar-right">
  <li><a class="btn btn-danger" href="/logout">logout</a></li>
</ul>
{% endblock %}
{% block profile_bar %}


<div class="panel panel-default">
  <div class="panel-heading">Profile <i class="fa fa-link fa-1x"></i></div>
  <div class="panel-body">
    <div class="text-center">
      <img src="{{userinfo['picture']}}" class="avatar img-circle img-thumbnail" alt="avatar">
      <h3>{{ userinfo['name'] }}</h3>
    </div>
    <hr/>
    <br/>
  </div>
</div>


<ul class="list-group">
  <li class="list-group-item text-muted">Permissions <i class="fa fa-dashboard fa-1x"></i></li>
  {% for name in permissions %}
  <li class="list-group-item text-right"><span class="pull-left"><strong>{{ name }}</strong></span></li>
  {% else %}
  <li class="list-group-item text-right"><span class="pull-left">No Data from LDAP</span></li>
  {% endfor %}
</ul>

<div class="panel panel-default">
  <div class="panel-heading">Social Media</div>
  <div class="panel-body">
    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
  </div>
</div>
</div><!--/col-3-->
{% endblock %}


{% block tabs %}
<li class="active"><a data-toggle="tab" href="#home">{{ userinfo['name'] }}</a></li>
<li><a data-toggle="tab" href="#ldap">LDAP metadata</a></li>
<li><a data-toggle="tab" href="#json">JSON</a></li>
{% endblock %}


{% block tabs_content %}
{% include "dashboard/tab_details.html" %}
{% include "dashboard/tab_ldap.html" %}
{% include "dashboard/tab_json.html" %}
{% endblock %}
