{% extends "base.html" %}
{% block middle %}
<div class="jumbotron alert-info">
  <h1>Keycloak Test App</h1>
  <br />
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <div class="row">
      {% if authenticated %}
      <div class="col-md-6 text-center">
          <a class="btn btn-lg btn-success" href="/api/" role="button">Browse the RESTful API</a>
      </div>
      {% else %}
      <div class="col-md-6 text-center">
        <a class="btn btn-lg btn-primary btn-login" href="/login/oauth2">OAuth2 Login via KeyCloak</a>
      </div>
      {% endif %}
      <div class="col-md-6 text-center">
          <a class="btn btn-lg btn-warning" href="/config">View Python Application Config</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
