{% extends "base.html" %}
{% block middle %}
<div class="jumbotron alert-info">
  <h1>LDAP Integration Test App</h1>
  <br />
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <p class="text-center">
      {% if authenticated %}
      <a class="btn btn-success" href="/api/" role="button">Browse the RESTful API</a>
      {% else %}
      <a class="btn btn-primary btn-login" href="/login">Log in with OAuth2 Identity Provider</a>
      {% endif %}
      <a class="btn btn-info" href="/config">View OAuth2 config</a>
    </p>
  </div>
</div>

{% endblock %}
