{% extends "base.html" %}
{% block middle %}
<div class="jumbotron alert-info text-center">
  <h1>Keycloak Test App</h1>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <div class="row">
      {% if authenticated %}
      <div class="col-md-6 text-center">
        <a class="btn btn-lg btn-success" href="/api/" role="button">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Browse the RESTful API
        </a>
      </div>
      {% else %}
      <div class="col-md-6 text-center">
        <p>
        <a class="btn btn-lg btn-primary btn-login" href="/login/oauth2?idp=azure">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          KeyCloak login via Azure AD
        </a>
        </p>
        <p>OR</p>
        <p>

        <a class="btn btn-lg btn-primary btn-login" href="/login/oauth2?idp=auth0">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          KeyCloak login via Auth0
        </a>
        </p>
      </div>
      {% endif %}
      <div class="col-md-6 text-center">
        <a class="btn btn-lg btn-warning" href="/config">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          Show Container Config</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
