<div class="tab-pane active" id="json">
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User</h3>
    </div>
    <div class="panel-body">
      <pre>{{ user.to_dict() | tojson(indent=4) }}</pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Session</h3>
    </div>
    <div class="panel-body">
      <pre>{{ dict(session) | tojson(indent=4) }}</pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Token</h3>
    </div>
    <div class="panel-body">
      <pre>{{ token.to_dict() | tojson(indent=4) }}</pre>
    </div>
  </div>

</div>
